In [1]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\mynam\anaconda3\lib\site-packages (3.1.5)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: et-xmlfile in c:\users\mynam\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [8]:
import pandas as pd
file_path = "C:/Users/mynam/Desktop/student_performance.xlsx"
dataset = pd.read_excel(file_path)
print(dataset.head())

   StudentID  G1  G2  G3      Mjob     Fjob  age address  studytime  failures  \
0          1   6   2   2   teacher  at_home   21   rural          3         1
1          2  19  11  18    health  teacher   18   rural          1         1
2          3  14   7  19    health    other   20   urban          1         1
3          4  10   2   6  services   health   21   urban          3         1
4          5   7   0  19    health   health   18   rural          4         1

  schoolsup famsup paid activities nursery higher internet romantic
0        no    yes  yes        yes     yes    yes       no      yes
1        no     no   no         no     yes     no       no       no
2       yes    yes  yes         no      no     no      yes      yes
3       yes     no  yes         no     yes     no       no       no
4        no     no  yes         no     yes    yes      yes       no

In [9]:
print(dataset.tail())

    StudentID  G1  G2  G3     Mjob      Fjob  age address  studytime  \
95         96  11  15   0    other     other   15   rural          3
96         97   1   2  19  at_home   teacher   21   rural          3
97         98   0  19   0   health  services   15   rural          2
98         99  15   3   2   health   at_home   17   rural          4
99        100   4  18  17    other   teacher   19   rural          4

    failures schoolsup famsup paid activities nursery higher internet romantic
95         0       yes    yes  yes         no     yes     no       no       no
96         2        no    yes  yes         no      no     no      yes      yes
97         0       yes     no  yes         no      no    yes       no      yes
98         1       yes     no  yes        yes      no    yes      yes       no
99         2       yes    yes  yes        yes      no     no      yes      yes

In [10]:
file_path = "C:/Users/mynam/Desktop/student_performance.xlsx"
dataset = pd.read_excel(file_path)
print("statistical summary:")
print(dataset.describe(include='all'))

statistical summary:
         StudentID          G1          G2          G3    Mjob     Fjob  \
count   100.000000  100.000000  100.000000  100.000000     100      100
unique         NaN         NaN         NaN         NaN       5        5
top            NaN         NaN         NaN         NaN  health  teacher
freq           NaN         NaN         NaN         NaN      28       23
mean     50.500000    9.010000    8.710000    9.070000     NaN      NaN
std      29.011492    5.535003    6.107282    6.629068     NaN      NaN
min       1.000000    0.000000    0.000000    0.000000     NaN      NaN
25%      25.750000    4.750000    3.750000    2.000000     NaN      NaN
50%      50.500000    8.500000    8.000000    8.000000     NaN      NaN
75%      75.250000   14.000000   14.000000   15.000000     NaN      NaN
max     100.000000   19.000000   19.000000   19.000000     NaN      NaN

               age address  studytime    failures schoolsup famsup paid  \
count   100.000000     100  100.00000  100.000000       100    100  100
unique         NaN       2        NaN         NaN         2      2    2
top            NaN   rural        NaN         NaN       yes     no  yes
freq           NaN      54        NaN         NaN        52     53   56
mean     18.180000     NaN    2.21000    1.380000       NaN    NaN  NaN
std       1.940426     NaN    1.06643    1.080404       NaN    NaN  NaN
min      15.000000     NaN    1.00000    0.000000       NaN    NaN  NaN
25%      16.750000     NaN    1.00000    0.000000       NaN    NaN  NaN
50%      18.000000     NaN    2.00000    1.000000       NaN    NaN  NaN
75%      20.000000     NaN    3.00000    2.000000       NaN    NaN  NaN
max      21.000000     NaN    4.00000    3.000000       NaN    NaN  NaN

       activities nursery higher internet romantic
count         100     100    100      100      100
unique          2       2      2        2        2
top            no     yes    yes       no      yes
freq           54      57     54       54       57
mean          NaN     NaN    NaN      NaN      NaN
std           NaN     NaN    NaN      NaN      NaN
min           NaN     NaN    NaN      NaN      NaN
25%           NaN     NaN    NaN      NaN      NaN
50%           NaN     NaN    NaN      NaN      NaN
75%           NaN     NaN    NaN      NaN      NaN
max           NaN     NaN    NaN      NaN      NaN

In [11]:
print("\ncolumn Data Types:")
print (dataset.dtypes)

column Data Types:
StudentID      int64
G1             int64
G2             int64
G3             int64
Mjob          object
Fjob          object
age            int64
address       object
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
dtype: object

In [12]:
import pandas as pd
file_path = "C:/Users/mynam/Desktop/student_performance.xlsx"
dataset = pd.read_excel(file_path)
rows_with_missing_data = dataset.isnull().any(axis=1).sum()
print(f"Number of rows with missing data: {rows_with_missing_data}")

Number of rows with missing data: 0